<h1>list of undone</h1>

<ul class="undone-list">
    <li>名前だよ</li>
    <li>やる日</li>
    <li>やった</li>
</ul>

<ul class="undone-list-content">
  <% @tasks.each do |task| %>
    <li><%= task.name %></li>
    <li><%= task.due_date %></li>
    <li><%= task.done %></li>
  <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
