<h1>list of undone</h1>

<div class="task-undone">

<!-- ul.undone-list>li*6>a -->
<ul class="undone-list">
  <li>タスク名</li>
  <li>やる日</li>
  <li>やった日</li>
</ul>


  <ul class="undone-list-content">
    <% @tasks.each do |task| %>
      <li>
        <p><%= task.name %></p>
        <p><%= task.due_date %></p>
        <p><%= task.done %></p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'New Task', new_task_path %>
