// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.undone-list{
	margin-bottom: 10px;
	border: 1px solid #666;
}
.undone-list-content{
	margin-bottom: 10px;
	border: 1px solid #666;
}
.mobile{
	.undone-list{
		font-size: 14px;
	}
	.undone-list-content{
		display: none;
	}
}