// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-undone{

}

.undone-list{
	background: #fff;
	display: -webkit-box;
	li{
		-webkit-box-flex:1;
	}
}

.undone-list-content{
	padding: 10px;
	background: #eee;
	li{
		display: -webkit-box;
		p{
		-webkit-box-flex:1;
		}
	}
}

// mobile
.mobile{
	.undone-list{
		background: #eee;
	}
	.undone-list-content{
		background: green;
	}
}

